In [1]:
import pandas as pd

import dash
from dash import Dash, html, dcc
import plotly.express as px

In [2]:
data = pd.read_csv("data.csv")

vgsales = pd.read_csv("vgsales.csv")
vgsales.rename(columns={"Year":"Year_of_Release"},inplace=True)

In [32]:
# donnees en communs
common_data = pd.merge(data,vgsales,how="inner",on=["Name","Platform","Publisher","Genre","Year_of_Release"])
common_data.head()

,Game_Id,Name,Platform,Year_of_Release,Genre,Publisher,Critic_Score,Critic_Count,User_Score,Developer,Rating,Rank,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,49167,Wii Sports,Wii,2006.0,Sports,Nintendo,76,51,8.0,Nintendo,E,1,41.49,29.02,3.77,8.46,82.74
1,52840,Super Mario Bros.,NES,1985.0,Platform,Nintendo,72,24,7.5,Big Red Button Entertainment,T,2,29.08,3.58,6.81,0.77,40.24
2,93224,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,82,73,8.3,Nintendo,E,3,15.85,12.88,3.79,3.31,35.82
3,33629,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,80,73,8.0,Nintendo,E,4,15.75,11.01,3.28,2.96,33.00
4,86706,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,72,24,7.5,Takara,E,5,11.27,8.89,10.22,1.00,31.37

In [36]:
common_data.columns.tolist()[:-5]

['Game_Id',
 'Name',
 'Platform',
 'Year_of_Release',
 'Genre',
 'Publisher',
 'Critic_Score',
 'Critic_Count',
 'User_Score',
 'Developer',
 'Rating',
 'Rank']

['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales']

In [41]:
pd.melt(common_data, 
        id_vars=common_data.columns.tolist()[:-5], 
        value_vars=common_data.columns.tolist()[-5:], 
        var_name='Localisation', 
        value_name='Ventes',
        ignore_index=False)

,Game_Id,Name,Platform,Year_of_Release,Genre,Publisher,Critic_Score,Critic_Count,User_Score,Developer,Rating,Rank,Localisation,Ventes
0,49167,Wii Sports,Wii,2006.0,Sports,Nintendo,76,51,8.0,Nintendo,E,1,NA_Sales,41.49
1,52840,Super Mario Bros.,NES,1985.0,Platform,Nintendo,72,24,7.5,Big Red Button Entertainment,T,2,NA_Sales,29.08
2,93224,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,82,73,8.3,Nintendo,E,3,NA_Sales,15.85
3,33629,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,80,73,8.0,Nintendo,E,4,NA_Sales,15.75
4,86706,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,72,24,7.5,Takara,E,5,NA_Sales,11.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16478,96465,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,72,24,7.5,"Atlus, Dingo Inc.",M,16597,Global_Sales,0.01
16479,98789,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,72,24,7.5,4J Studios,E,16596,Global_Sales,0.01
16480,44950,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,72,24,7.5,UBlart Montpellier,T,16598,Global_Sales,0.01
16481,36968,LMA Manager 2007,X360,2006.0,Sports,Codemasters,72,24,7.5,Microids,RP,16398,Global_Sales,0.01
16482,92845,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,72,24,7.5,"Deep Silver, Keen Games",K-A,16600,Global_Sales,0.01

In [22]:
common_data[["Publisher","Global_Sales"]].groupby("Publisher").sum().reset_index()

                        Publisher  Global_Sales
0                 10TACLE Studios          0.11
1                      1C Company          0.10
2    20th Century Fox Video Games          1.94
3                          2D Boy          0.04
4                             3DO         10.12
..                            ...           ...
570                   id Software          0.03
571               imageepoch Inc.          0.04
572          inXile Entertainment          0.10
573                     mixi, Inc          0.86
574                  responDESIGN          0.13

[575 rows x 2 columns]

In [9]:
app = Dash()

In [30]:
temp = common_data[["Publisher","Global_Sales"]].groupby("Publisher").sum().reset_index()
temp.sort_values("Global_Sales",ascending=False,inplace=True)

fig = px.bar(temp.iloc[:20], 
             x="Publisher", 
             y="Global_Sales")

app.layout = html.Div(children=[
    html.H1(children='Video Games Analysis'),
    dcc.Graph(
        id='example-graph',
        figure=fig
    )
])

In [31]:
app.run_server(debug=False)

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [14/Feb/2023 16:31:09] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [14/Feb/2023 16:31:09] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [14/Feb/2023 16:31:09] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [14/Feb/2023 16:31:09] "GET /_favicon.ico?v=2.8.1 HTTP/1.1" 200 -
127.0.0.1 - - [14/Feb/2023 16:31:09] "GET /_dash-component-suites/dash/dcc/async-graph.js HTTP/1.1" 200 -
127.0.0.1 - - [14/Feb/2023 16:31:09] "GET /_dash-component-suites/dash/dcc/async-plotlyjs.js HTTP/1.1" 200 -